.category-widget .category, .category-widget .category.i {
    cursor: pointer;
}

.category-widget .category-block > .category-block {
    margin-left: 22px;
}

.category-widget .category-block > .category-block.has-childs {
    margin-left: 11px;
}

.category-widget .category.selected {
    background-color: #245580;
    color: #ffffff;
}

.category-widget {
    height: 400px;
}

.category-widget .panel {
    padding: 0;
    height: 100%;
}

.category-widget .categoryContainer {
    overflow: scroll;
    height: 100%;
    white-space: nowrap
}

.category-widget .itemContainer {
    width: 100%;
}

.category-widget .item {
    cursor: pointer;
}

.category-widget .item .item-text,
.category-widget .item .item-additional-text {
    float: left;
}

.category-widget .item .item-text {
    margin-right: 15px;
}

.category-widget .item .item-button {
    width: 50px;
    text-align: right;
}